# Libs and stuff
/bukkit
#/lib
/jar
dependency-reduced-pom.xml

# IDEA
.idea/

# Eclipse Core
/bin

# JDT-specific (Eclipse Java Development Tools)
.classpath
.project
/.settings/

# Maven build
/target/